*{
    box-sizing: border-box;
  }
  
  body {
    background: white;
    font-family: Arial;
    padding: 0px;
    color: #0c0b0b;
  }
  .header {
    padding: 5px;
    text-align: center;
  }
  .header h1 {
    font-size: 50px;
    color:black;
  }
  .nav {
    background-color: rgb(74, 92, 128);
    height: 60px;
    color: #ddd;
    margin-left: 20%;
    width: 70%;
  }

.nav a{

  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 20px;
}

.nav a:hover{
  background-color: rgb(139, 138, 138);
}
  h1{
      text-align: center;
      color: grey;
  }


  form.search{
    margin-top: 15px;
    display: inline-flex;
    font-size: 20px;
    margin-left: 20%;

  }
  form.search input[type=text] {
    width: 400px;
    font-size: inherit;
    border:0.2em solid #ddd;
    border-radius: 0.5em 0 0 0.5em;
    padding: 0.2em 0.5em;
  }
  form.search button{
    font-size: inherit;
    border:0.2em solid #ddd ;
    border-radius: 0 0.5em 0.5em 0;
    border-left: 0;
    padding: 0 0.75em;
    outline: 0;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    height: 39px;
  }
  
.center{
    margin-left: 20%;
}
  table{
    width: 80%;
    margin-left: 2%;
  }
  table tr:hover{
    background: grey;
    color:white;
  }
  table tH{
    background: grey;
    color: #ddd;
  }
  table td{
    border: none;
    border-bottom: 1px solid #32508e;
  }


  button[type="submit"]
  {
      margin-bottom: 5px;
      width: 50px;
      height: 20px;
      border: none;
      border-radius: 3px;
      background:#32508e;
      transition: 0.2s ease;
      cursor: pointer;
  }

  button a{
      color:rgb(255, 255, 255);
      text-decoration: none;
  }


