 
 *{
    box-sizing: border-box;
  }
  
  body {
    background: white;
    font-family: Arial;
    padding: 0px;
    color: #0c0b0b;
  }
  
  /* Header/Blog Title */
  .header {
    padding: 5px;
    text-align: center;
  }
  
  .header h1 {
    font-size: 50px;
  }
  
  .topnav {
    overflow: hidden;
    background-color: rgb(139, 138, 138);
    height: 70px;
  }
  form.search{
    margin-top: 15px;
    display: inline-flex;
    font-size: 20px;
    margin-left: 20%;
  }
  form.search input[type=text] {
    width: 400px;
    font-size: inherit;
    border:0.2em solid #ddd;
    border-radius: 0.5em 0 0 0.5em;
    padding: 0.2em 0.5em;
  }
  form.search button{
    font-size: inherit;
    border:0.2em solid #ddd ;
    border-radius: 0 0.5em 0.5em 0;
    border-left: 0;
    padding: 0 0.75em;
    outline: 0;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    height: 39px;
  }
  /* Style the top navigation bar */
  .nav {
    overflow: hidden;
    background-color: rgb(74, 92, 128);
    height: 60px;
  }
  /* Style the topnav links */
  .nav a{
  
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 20px;
    }
  
  .nav a:hover {
    background-color: rgb(139, 138, 138);
  }

  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .centralcolumn {   
    float:left;
    width: 75%;
    height: 60%;
  }

  table tr:hover{
    background: grey;
    color: #ddd;
  }
  table tH{
    background: grey;
    color: #ddd;
  }
  table td{
    border: none;
    border-right: 1px solid #32508e;
    border-bottom: 1px solid #32508e;
  }
td a{
  text-decoration: none;
  color: #ff0000;
}

td img{
  width:100%;
}
  #order{
    background: rgb(74, 92, 128);
    height: 40px;
    border: none;
    color: #ddd;
  }
  #order:hover{
    background: chocolate;

  }
  
  /* Right column */
  .rightcolumn {
    float: right;
    width: 25%;
    padding-left: 20px;
    
  
  }
  /* Right column */
  .rightcolumn {
    float: right;
    width: 25%;
    padding-left: 20px;

  }

.fakeimg{
   margin-top: 3px;

   background:rgb(74, 92, 128);
   padding: 20px;
   color: #ddd;
   font-size: 20px;
   border:none;
   border-radius: 15px;
  }
  .fakeimg button{
    background-color: rgb(139, 138, 138);
    border-radius: 25px 25px 25px 25px;
    height: 50px;
  }
  .fakeimg a{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: white;
  }
  .fakeimg a:hover{
    font-size: 20px;
    
  }

  button a{
    text-decoration: none;
    color: #ddd;
  }
  button a:hover{
    text-decoration: none;
    color: #ddd;
  }


  .styled-select select {
    border: none;
    border-radius: 30px;
    color: rgb(17, 16, 16);
    background: white;
    font-size: 18px;
    padding: 2px 10px;
    width: 170px;
 }
  
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    color: black;
    border: 3px solid rgb(74, 92, 128) ;
    border-radius: 25px;
  }

button.social{
  margin-top: 20px;
  width: 220px;
  height: 36px;
  border: none;
  border-radius: 2px;
  font-weight: 800;
  transition: 0.2s ease;
  cursor: pointer;
  }
  button.social:hover{
    height:40px;
    width: 250px;
  }
  .fcbk{
    background: #32508e;
  }
  .twt{
    background: #55acee;
  }
  .ytb
  {
    background: #a50808;
  }
  .sclk a
  {
  display: block;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  color: #ddd
}
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer1 {
    padding: 20px;
    text-align: center;
    background: rgb(139, 138, 138);
    margin-top: 20px;
    color: #f2f2f2;
  }
  
  
  /* Responsive layout - when the screen is less than 1000px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 1000px) {
    .centralcolumn, .rightcolumn,
    .card, .fakeimg,
   .form.search button, .topnav, .topnav a ,
   table,body,.sclk,table tr,
   .car-card,.fakeimg,.styled-select select
   {
      width: 100%;
      padding: 0;
      float:none;
      }


  
      }
